.container
h1 To-do List Categories
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link(href="#", data-category="urgent", class="blink") Urgent
        li.nav-item
            a.nav-link(href="#", data-category="work") Work
        li.nav-item
            a.nav-link(href="#", data-category="personal") Personal
    ul.list-group
        li.list-group-item(data-category="work") Work Task 1
        li.list-group-item(data-category="work") Work Task 2
        li.list-group-item(data-category="personal") Personal Task 1
        li.list-group-item(data-category="personal") Personal Task 2
        li.list-group-item(data-category="urgent") Urgent Task 1
        li.list-group-item(data-category="urgent") Urgent Task 2