extends layout

block head
  title To-do List
  link(rel='stylesheet', href='/stylesheets/todo.css')

block content
  //- Search form
  form(action="/search", method="get")
    label(for="query") Search
    input(type="text", name="query", placeholder="Search tasks...")
    button(type="submit") Search

  //- Form to add a new task
  form(action="/add", method="post")
    h1 To-do List
    label(for="task") Task
    input(type="text", name="task", placeholder="Task", required)
    
    label(for="due_date") Due Date
    input(type="date", name="due_date", min=minDate, required)
    
    div.button-container
      button(type="submit") Add Task
      button(type="reset") Reset

  //- Form to filter tasks by category
  form(action="/filter", method="post")
    label(for="filter_category") Filter by category
    select(name="filter_category")
      option(value="") Select a category
      option(value="work") Work
      option(value="personal") Personal
      option(value="urgent") Urgent

    div.button-container
      button(type="submit") Filter
      button(type="reset") Reset

  //- Display the list of to-do items
  div.todo-list
    each todo in todolist
      div(class="box" + (todo.completed ? ' completed' : ''))
        h3= todo.task
        p= todo.due_date
        if todo.completed == 0
          a(href="/completetask/" + todo.id + "/1") Mark Complete
        else
          a(href="/completetask/" + todo.id + "/0") Mark Incomplete

        a(href="/edit/" + todo.id) Edit
        a(href="/delete/" + todo.id, onclick="return confirm('Are you sure you want to delete this?')") Delete
